/*--------------------------------------------------------------
Adjustments to <main> element top margin. Prevents content from
flowing under header when rendered.

- Also contains adjustments for WP admin bar to set above grey bar when logged in.
--------------------------------------------------------------*/

#wpadminbar+#header-container #asuHeader {
	top: 32px !important;
}

/**
When :has() has greater support, these rules will suffice.
For now, a little bit of JS to add the scroll event to the header wrapper
allows :scrolled: to be an adjacent sibling again.
*/

// #header-container:has(#asuHeader) + main {
// 	margin-top: 135px;
// 	// Actual measurement is btw 139px and 140px. Allows for margin of error.
// }

// #header-container:has(#asuHeader.scrolled) + main {
// 	margin-top: 90px;
// 	// Actual measurement is btw 93px and 94px. Allows for margin of error.
// }

#header-container+#main-content {
	margin-top: 135px;
	// Actual measurement is btw 139px and 140px. Allows for margin of error.
}

#header-container.scrolled+#main-content {
	margin-top: 90px;
	// Actual measurement is btw 93px and 94px. Allows for margin of error.
}

// The admin bar is not at a fixed position on mobile.
// But, since the header is still fixed, the admin bar will overlap the header.
// Fixing the header on mobile prevents further oddness.
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}