// Corrections for ASU Header & Footer styles.
// Overrides things from UDS Bootstrap to work correctly in this context.

/*--------------------------------------------------------------
1. Fixed Top
--------------------------------------------------------------*/
// Fixed top utility is being applied to the wrong ID.
#asu-header.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

/*--------------------------------------------------------------
2. Margins for Main Content
--------------------------------------------------------------*/
// Margins are needed to prevent content from flowing under global header.

// Mobile
#asu-header+div,
#asu-header+main {
	transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
	margin-top: 113px;
}

#asu-header.scrolled+div,
#asu-header.scrolled+main {
	transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
	margin-top: 97px;
}

// Desktop
@media (min-width: calc(992px - .02px)) {

	#asu-header+div,
	#asu-header+main {
		transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
		margin-top: 137px;
	}

	#asu-header.scrolled+div,
	#asu-header.scrolled+main {
		transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
		margin-top: 81x;
	}
}



/*--------------------------------------------------------------
3. Header scrolls from node-modules->_global_header.scss
--------------------------------------------------------------*/
// Scrolled, Mobile
#asu-header .navbar,
#asu-header .navbar-brand .horiz,
#asu-header .navbar-brand .vert,
#asu-header .title {
	transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
}

#asu-header.scrolled {
	#wrapper-header-top {
		height: 0;
		overflow: hidden;
	}

	#header-top {
		height: 0;
		overflow: hidden;
	}

	#header-main {
		.navbar-brand .horiz {
			margin-bottom: $uds-size-spacing-1;
		}

		.navbar-brand .vert {
			margin: 12px $uds-size-spacing-2 12px 0;
			padding: $uds-size-spacing-half 0;
			height: 64px;
		}

		.title {
			padding-bottom: $uds-size-spacing-2;

			.unit-name {
				display: none;
			}
		}
	}
}

// Scrolled, desktop
@media (min-width: calc(1224px - .02px)) {
	#asu-header.scrolled {

		#header-main .navbar-container.no-links {
			margin-top: $uds-size-spacing-3;

			.title {
				margin: 0;
			}
		}

		.navbar-nav {

			.nav-link,
			.dropdown .nav-link {
				padding-top: 0;
			}
		}

		#header-main .navbar-brand .vert {
			padding: 0;
		}

		#header-main .title {
			padding-bottom: 0;
			margin: 12px 0;
		}

		#header-main .title.subdomain-name {
			font-size: $uds-size-font-xl;
		}
	}
}


/*--------------------------------------------------------------
5. Header title underline styles. Ported from UDS-WordPress _theme.scss
--------------------------------------------------------------*/

#asu-header .title .subdomain-name a {
	color: #191919;
	text-decoration: none;
}

#asu-header .title .subdomain-name a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
6. Widget link lists require a hover state that has an underline.
--------------------------------------------------------------*/

.et_pb_widget li a:hover {
	text-decoration: underline;
}
