// Corrections for ASU Header & Footer styles.
// Overrides things from UDS Bootstrap to work correctly in this context.

/*--------------------------------------------------------------
1. Fixed Top
--------------------------------------------------------------*/
// Fixed top utility is being applied to the wrong ID.
#asu-header.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*--------------------------------------------------------------
2. Margins for Main Content
--------------------------------------------------------------*/
// Margins are needed to prevent content from flowing under global header.

// Mobile
#asu-header+div,
#asu-header+main {
	transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
	margin-top: 113px;
}

#asu-header.scrolled+div,
#asu-header.scrolled+main {
	transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
	margin-top: 97px;
}

// Desktop
@media (max-width: calc(992px - .02px)) {

	#asu-header+div,
	#asu-header+main {
		transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
		margin-top: 137px;
	}

	#asu-header.scrolled+div,
	#asu-header.scrolled+main {
		transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
		margin-top: 81x;
	}
}

/*--------------------------------------------------------------
3. Hide accordion footer menus on tablet and below.
--------------------------------------------------------------*/
@media (max-width: calc(1224px - .02px)) {
	#asu-footer #footer-columns .flex-footer {
		display:none;
	}
};


/*--------------------------------------------------------------
4. Header title underline styles. Ported from UDS-WordPress _theme.scss
--------------------------------------------------------------*/

#asu-header .title .subdomain-name a {
	color: #191919;
	text-decoration: none;
}

#asu-header .title .subdomain-name a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
4. Widget link lists require a hover state that has an underline.
--------------------------------------------------------------*/

.et_pb_widget li a:hover {
    text-decoration: underline;
}
